.featuredData {
  .container {
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      /* padding: 43px 196px; */
      width: 77%;
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    h2 {
      flex: 1;
      font-size: 22px;
      font-weight: bold;
    }

    p {
      flex: 3;
      color: gray;
      font-size: 17px;
    }
  }

  .showAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    button {
      background-color: transparent;
      border: 1px solid #766b6b;
      padding: 11px 22px;
      cursor: pointer;
      outline: 0;
      font-size: 17px;
      border-radius: 2px;
      transition: all .7s;
      letter-spacing: 3px;

      &:hover {
        background-color: #2196f3;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

  }
}

@media screen and (max-width :800px) {
  .text {
    display: block !important;
  }
}