.navbar {
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffff;

  a {
    text-decoration: none;
  }


  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    li {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 19px;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
      flex-wrap: wrap;


    }

    .left {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;



    }

    .center {
      font-size: 30px;
      letter-spacing: 3px;
    }

    .right {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;

      ul {
        flex-wrap: wrap;
      }
    }

    .icons {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #777;
      flex-wrap: wrap;

      .cartIcone {
        position: relative;

        span {
          position: absolute;
          left: 12px;
          font-size: 13px;
          color: #fff;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          text-align: center;
          top: -8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1382px) {

  .navbar {
    position: static;

    .wrapper {
      .center {
        margin: 19px;
      }

      .right {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 738px) {

  .navbar {
    position: static;

    .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .left {

        .navbar ul {
          justify-content: center !important;
          padding: 0 !important;
          flex-direction: column;
        }
      }



      .right {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 738px) {

  .navbar {
    .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .center {
        margin: auto;
        display: flex;
        justify-content: center;
        display: none;
      }

      .right {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 528px) {

  .navbar {

    ul {
      justify-content: center !important;
      align-items: center;
    }


    .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .center {
        display: none !important;
      }

      .right {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 344px) {

  .navbar {

    ul {
      justify-content: space-between !important;
      align-items: center;
    }


    .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .center {
        display: none !important;
      }

      .right {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}