.productCategory {
  overflow: hidden;

  .image-filter {
    filter: brightness(0.8) contrast(1.2) saturate(1.1);

  }

  .allFilters {
    position: fixed;
    position: sticky;
    top: 20px;
    /* Adjust as needed for your layout */
  }

  .container {
    .wrapper {
      width: 100%;
      overflow: hidden;
      display: flex;
      padding: 10px;
      gap: 10px;

      .leftSide {
        flex: 1;
        height: 100vh;
        position: sticky;
        top: 50px;
        z-index: 1;
        overflow: hidden;

        label {
          font-size: 19px;
          font-weight: 300;
          margin-left: 11px;
          line-height: 33px;
        }

        h3 {
          font-size: 25px;
          font-weight: 400;
          margin-top: 3rem;
        }
      }

      .rightSide {
        flex: 3;
        height: 100%;

        .image {
          width: 100%;
          height: 29rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .filteredCards {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          margin-top: 7rem;
          gap: 10px;

          a {
            margin: auto;
            margin-top: 1rem;
            width: 19rem;
            margin-bottom: 25px;

            p.proTitle {
              font-size: 19px;
              margin: 0;
              color: black;
              font-weight: 400;

            }

            .price {
              display: flex;
              gap: 20px;
              align-items: center;
              margin-top: 3px;

              p {
                margin: 0;
                color: black;
                font-size: 18px;
                font-weight: 400;

              }

              del {
                color: rgb(157, 153, 153);
                font-size: 18px;
                font-weight: 400;

              }
            }
          }

          .images {
            display: flex;
            overflow: hidden;
            text-align: center;
            margin: auto;
            align-items: center;
            justify-content: center;
            min-width: 311px;
            width: 10rem;
            height: 26rem;
            position: relative;
            // background-color: #dadada;

            // margin-top: 3rem;


            .img1,
            .img2,
            .img {
              position: absolute;
              width: 100%;
              // height: 100%;
              object-fit: cover;
              border-radius: 6px;
              transition: opacity 0.3s ease;
            }

            .img1 {
              z-index: 2;
              opacity: 1; // Initially visible
            }

            .img2 {
              z-index: 1;
              opacity: 0; // Initially hidden
            }

            &:hover {
              .img1 {
                opacity: 0; // Hide the first image
              }

              .img2 {
                opacity: 1; // Show the second image
              }
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width:1262px) {
  .container {
    .wrapper {
      .rightSide {
        .filteredCards {
          gap: 2rem !important;

          a {
            width: 18rem !important;

          }
        }
      }
    }
  }
}

@media screen and (max-width:1063px) {
  .container {
    .wrapper {
      flex-direction: column;

      .leftSide {
        position: static !important;

        .allFilters {
          position: static !important;
        }
      }

      .rightSide {
        .filteredCards {
          a {
            width: 18rem !important;
          }

          .images {
            height: 24rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width:614px) {
  .wrapper {
    display: block !important;

    .filteredCards {
      margin-right: 35px !important;

    }

    .leftSide {
      height: auto !important;
    }

    .rightSide {

      .image {
        margin-left: -9px !important;

      }

    }

  }
}

@media screen and (max-width:360px) {
  .wrapper {
    display: block !important;

    .filteredCards {
      margin-right: 35px !important;

    }

    .leftSide {
      height: auto !important;
    }



  }
}